.input {
  display: flex;
  height: 4em;
  flex: 1;
  justify-content: flex-start;
  outline: 1px solid slategrey;
  padding: 0.5em;
  color: slategrey;
  align-items: center;
  font-weight: bold;
  font-size: 1.4em;
}
